*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
    text-align: center;
  }
  
  .Fundo-entrada{
    background-color: #282c34;
    background-image: url(../../assets/img/fundoEntrada.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box-conteudo{
    background: rgba(255, 253, 253, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 4vh;
  }

  .Logo{
    background-image: url(../../assets/img/logoSESI.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center top;
    height: 350px;
    margin-top: 6vh;
  }
  
  .App-header {
    /* background-color: #282c34; */
    
    height: 100%;
    flex-direction: column;
    font-size: 50px;
    color: white;
  }

  form {
    display : flex;
    flex-direction: column;
    justify-content : space-between;
    height: 10px;
    align-items: center;
    padding: 20vh  20vh;
}

.btn {
  background-color: red;
  color: white;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}